pytest
pytest-pep8
pytest-cov
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-material
pydantic==2.5.1
pydantic-settings==2.1.0
requests==2.31.0
google-api-core==2.14.0
google-api-python-client==2.111.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0
