pytest
pytest-pep8
pytest-cov
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-material
pydantic==2.3.0
pydantic-settings==2.0.3
requests==2.31.0
google-api-core==2.11.1
google-api-python-client==2.101.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
